/*  your css code here. If applicable */
  .article {
      margin-bottom: 20px;
    }

    .article img {
      width: 100%;
      max-width: 500px;
      display: block;
      margin: 10px auto;
    }
